"Name", "Address", "Latitude", "Longitude", "Link"
<!-- tmpl_loop name='data' -->"<!-- tmpl_var name='name' -->", "<!-- tmpl_var name='address' -->", "<!-- tmpl_var name='latitude' -->", "<!-- tmpl_var name='longitude' -->, "<!-- tmpl_var name='link' -->"
  <!-- /tmpl_loop -->
