  <!-- tmpl_loop name='xml' -->
  <pub>
  <name><!-- tmpl_var name='name' --></name>
  <sname><!-- tmpl_var name='sname' --></sname>
  <link><!-- tmpl_var name='link' --></link>
  <address><!-- tmpl_var name='address' --></address>
  <latitude><!-- tmpl_var name='latitude' --></latitude>
  <longitude><!-- tmpl_var name='longitude' --></longitude>
  <website><!-- tmpl_var name='website' --></website>
  <telephone><!-- tmpl_var name='telephone' --></telephone>
  </pub>
  <!-- /tmpl_loop -->
