<!DOCTYPE html>
<html>
  <head>
    <title>Pubs beginning with <!-- tmpl_var name='letter' --></title>
    <link href="/css/style.css" rel="stylesheet" media="all">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-45709040-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <h3><span style="font-size:40px"><a href="/">Edinburgh.io</a></span> - The definitive Edinburgh Pub List.</h3>
      </div>
      <div id="navigation">
        <ul>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/faq/">FAQ</a></li>
          <li><a href="/pubs/a-z/">A-Z</a></li>
          <li><a href="/pubs/">Home</a></li>
        </ul>
      </div>
      <div id="main">
        <p>&nbsp;</p>
        <h1>Pubs beginning with <!-- tmpl_var name='letter' --></h1>
        <ul>
          <!-- tmpl_loop name='loop' -->
          <li><a href="/pubs/<!-- tmpl_var name='sname' -->.html"><!-- tmpl_var name='name' --></a></li>
          <!-- /tmpl_loop -->
        </ul>
      </div>
    </div>
  </body>
</html>
